/* Fő szerkezeti sítlusok */

body {
  background-color: rgb(69,69,70) ;
  position: relative ;
  overflow: hidden ;
  margin: 0 ;
  padding: 0 ;
  border: 0 ;
}

#container {
  margin: 0 auto ;
  width: 810px ;
  height: 1500px ;
  background-image: url('/assets/ombrello.png') ;
}

#formwrapper {
  font-size: 13px ;
  font-family: Arial ;
  padding-top: 760px ;
  padding-left: 15px ;
  line-height: 200% ;
  ul {
    list-style: none ;
  }
  li {
    margin-bottom: 5px ;
  }

}

.textfield {
  border: 2px solid rgb(235,218,119) ;
  width: 455px ;
  height: 28px ;
  border-radius: 5px ;
}

.freetext {
  border: 2px solid rgb(235,218,119) ;
  width: 455px ;
  height: 135px ;
  border-radius: 5px ;
  resize: none ;
}

/* Képfeltöltő mező stílusai */

#picture {
  position: relative ;
  width: 470px ;
}

.image_browse_field {
  background-image: url('/assets/browsefield.png') ;
  width: 460px ;
  height: 32px ;
}

#upload {
  width: 295px ;
  border: none ;
  margin-left: 5px ;
  margin-top: 6px ;
}

input.image_browse {
  position: absolute ;
  top: 30px ;
  left: 325px ;
  opacity: 0 ;
  width: 140px ;
  z-index: 2 ;
}

/* Küldés gomb */

button {
  border: none ;
  width: 456px ;
  height: 51px ;
  text-align: left ;
  padding: 0 ;
  margin: 0 ;
  -moz-appearance: button ;
}

/* Hibaüzenetek stílusai */

#error_Explanation {
  color: red ;
  background-color: white ;
  float: left ;
  padding: 20px ;
  margin: 20px ;
  border-radius: 10px ;
  opacity: 0.9 ;
  font-family: Arial ;
}

.field_with_errors {
  input:not([type='radio']) {
  border: 2px solid red ;
  }
  textarea {
    border: 2px solid red ;
  }
  .message {
    color: red ;
    font-family: sans-serif ;
    background-color: rgba(255,255,255,0.8) ;
    margin-left: 10px ;
    padding: 10px ;
    border-radius: 5px;
  }
}

#last div.field_with_errors {
  float:left ;
  margin: 0;
  padding: 0;
  width: 16px ;
  height: 16px ;
}