%html
  %head
    %meta{:charset => "UTF-8"}
    %meta{:name => "author", :content => "Sultan Flowerson"}
    %meta{:name => "description", :content => "Sikeres pályázatbeadás!"}
    = stylesheet_link_tag "thanks", :media => "all"
    %title Sikeres pályázatbeadás!
  %body
    #container
      %p
        Pályázatát sikeresen feladta!
        %br
        A feladásról értesítést küldtünk a megadott e-mail címre!
        %br
        Köszönjük!
